
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:skarfoxgaming.com
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?skarfoxgaming.com
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:skarfoxgaming.com

# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPALLOWID:Rb88fW6WeX
allow from 127.0.0.1
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Rb88fW6WeX:IPALLOWID

